
:root{
	--dark: #1C1C1C;
	--blue:  #117DC1;
	--light-blue: #EDF9FF;

}
body{
	font-family: 'Roboto', sans-serif;
	color: var(--dark);
}
.wrapper{
	max-width: 744px;
	margin: 0 auto;
}
.nav{
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 64px;
	margin-bottom: 16px;
}
.nav__item{
	background-color: transparent;
	border: none;
	border-radius: 16px;
	font-size: 18px;
	line-height: 1.3;
	width: 50%;
	padding: 16px 32px;
	cursor: pointer;
	transition: .2s;
}
.nav__item:hover,
.nav--active.nav__item{
	background-color: var(--light-blue);
	color: var(--blue);
	transition: .2s;
}
.name {
    background-color: #ccc;
}

.album-title {
    background-color: #bbb;
}

.menu-block {
    display: block;
    margin: 10px auto;
}

.menu-item {
    padding: 5px 10px;
    margin: 0 10px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}


.users {
    display: flex;
    flex-direction: column;
}
.user__name{
	font-size: 22px;
	line-height: 1.3;
	font-weight: 500;
}
.album__name{
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
}
.user__name,
.album__name{
	cursor: pointer;
	position: relative;display: flex;
	align-items: center;
	height: 80px;
	margin: 0;
}
.user__name:before,
.album__name:before{
	content: '';
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: var(--blue);
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 7H14' stroke='white' stroke-width='2'/%3E%3Cpath d='M7 0L7 14' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
	background-size: 14px 14px;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 24px;
}
.user.open .user__name::before,
.album.open .album__name::before{
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='2' viewBox='0 0 14 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1H14' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
}
.albums{
	padding-left: 56px;
}

.image-block {
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
	flex-direction: column;
}
.image-block img{
	border-radius: 4px;
	cursor: pointer;
}
.image-block__title{
	margin: 12px 0 0 0;
	font-size: 14px;
	line-height: 150%;
	color: #787878;
}
.star {
    color: yellow;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	position: absolute;
	top: 8px;
	right: 8px;
	background-size: 20px 20px;

}

.images{
	display: grid;
	grid-template-columns: repeat(3,150px);
	align-items: start;
	gap: 42px;
	margin-top: 32px;
	padding-left: 49px;
}
.images--favourites{
	padding: 0;
	margin-top: 56px;
	justify-content: center;
}
#popup {
    display: none;
    position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.47);
}
#popup img{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup-text {
    display: none;
    position: absolute;
    width: 100%;
	color: white;
    bottom: -20px;
	left: 50%;
	z-index: 1;
    padding: 0 auto;
    background: rgba(0, 0, 0, 0.69);
	border-radius: 4px;
	font-size: 12px;
	line-height: 130%;
	padding: 4px 8px;
}

.empty{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20vh;
}
.empty__img{
	margin-bottom: 32px;
}
.empty__title{
	font-size: 22px;
	margin: 0 0 8px 0;
}
.empty__title{
	font-size: 18px;
	margin: 0;
}